
@import url(https://fonts.googleapis.com/css?family=Anton);


body {
    text-align: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-style:oblique;
    font-size: 60px;
    color: #37a580;
    text-shadow: 3px 3px 10px #000000;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
header {
    padding: 10px;
    background-color: #f4a688;
    color: #000000;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	border-radius: 10px;

}
main {
    background-color:#fbefcc;
    border-radius: 10px;
    padding: 30px;
}
footer {
    background-color: #f4a688;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: left;
    border-radius: 10px;
    padding: 7px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
a {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
}
a:hover {
    color: #ff0000;
    text-decoration: none;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    text-align: left;
}
ul.contact {
    display: inline-block;
}
hr {
    height: 2px;
    background-color: #000000;
}
iframe {
    display: block;
    text-align: center;
    margin: auto;
}
div {
    padding: 80px;
    border-radius: 10px;
    margin: 5px 300px;
}
img.Porträtt {
    border-radius: 50%;
}
img {
    border-radius: 10%;
}


